<!-- About Section -->
<section class="success" id="philosophy">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Our Philosophy</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>The Camas Lily is the symbol of our company because its resilience
          allows it to bloom in the high desert prairies where little rain falls.
          We believe that given the right support, every student can also blossom.</p>
      </div>
      <div class="col-lg-4">
        <p>We are proud to offer individualized online tutoring by certified teachers,
          for students of all ages and ability levels, including those with special needs. </p>
      </div>
    </div>
  </div>
</section>
