<!-- Contact Section -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Contact Us</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="col-lg-offset-4">
      <div class="row">
          <a class="fas fa-fw fa-envelope-square fa-3x" aria-hidden="true"></a><a href="mailto:chunterasct@gmail.com" class="contact-text">chunterasct@gmail.com</a>
      </div>
      <div class="row">
          <a class="fas fa-fw fa-envelope-square fa-3x" aria-hidden="true"></a><a href="mailto:rhunterasct@gmail.com" class="contact-text">rhunterasct@gmail.com</a>
      </div>
      <div class="row">
          <a class="fas fa-fw fa-phone-square fa-3x" aria-hidden="true"></a><a href="tel:+12084238920" class="contact-text">208-423-8920</a>
      </div>
    </div>
  </div>
</section>
  <!-- <div class="row"> -->
  <!--         <a class="fas fa-fw fa-envelope-square fa-4x" aria-hidden="true"></a> -->
  <!--     <div class="col-lg-4"> -->
  <!--         <a href="mailto:chunterasct@gmail.com" rel="me" class=" contact-text"> -->
  <!--           <meta itemprop="email" content="chunterasct@gmail.com"/> -->
  <!--         chunterasct@gmail.com -->
  <!--         </a> -->
  <!--     </div> -->
  <!-- </div> -->
