<!-- Payment -->
<section class="success" id="payment">
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12 text-center">
      <h2>Payment Links</h2>
      <hr class="star-light">
		</div>
	</div>
  <div class="row">
      <div class="col-lg-12 text-center">
        <p>We accept payment through the following:</p>
      </div>
  </div>
  <div class="row ">
		<div class="col logo-centered">
      <a href="https://cash.app/$SCT2025L"><img class="img-centered" width="300" height="100" src="assets/images/CashApp/cashapp.svg"/></a>
		</div>
		<div class="col logo-centered">
      <a href="https://www.paypal.com/ncp/payment/7KARUG8HLZNH2"><img class="img-centered" width="200" height="100" src="assets/images/PayPal/paypal.svg"/></a>
		</div>
		<div class="col logo-centered">
      <a href="https://link.clover.com/urlshortener/c2TgGb"><img width="300" height="100" src="assets/images/Clover/clover.svg"/></a>
		</div>
	</div>
</div>
</section>
